.c99mir_stat {
  float: left;
  padding: 6px;
  margin-right: 12px;
  margin-bottom: 6px;
  width: 240px;
  line-height: normal !important;
}

.c99mir_stat_icon {
  float: left;
  font-size: 40px !important;
  width: 48px;
  height: 48px;
  margin-top: 6px;
  margin-right: 12px;
  text-align: center;
}

.c99mir_delta_positive {
  color: green;
}

.c99mir_delta_negative {
  color: red;
}

.c99mir_recent_game {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

.c99mir_recent_game img {
  height: 120px !important;
}

.c99mir_achievement {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 240px;
  line-height: 1.25em;
}

.c99mir_achievement img {
  float: left;
  margin-right: 6px;
  height: 2.5em !important;
}

.c99mir_foursquare_table {
  clear: both;
  width: 33%;
}

.c99mir_foursquare_category {
  float: left;
  padding: 6px;
  margin-right: 12px;
  margin-bottom: 6px;
  width: 240px;
  line-height: normal !important;
}

.c99mir_foursquare_category img {
  margin-right: 6px;
  float: left;
}
